@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600&family=Trocchi&display=swap');

body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Trocchi','Poppins';
}

.centrar{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    display: inline-flex;
    gap: 50px;
}
.fondo{
    background-color: rgb(34, 34, 34);
    height: 600px;
    width: 300px;
    margin: auto;
    border-radius: 27%;
    display: inline-flex;
    justify-content: center;
}

.borde{
    align-self: center;
    background-color: rgb(34, 34, 34);
    height: 525px;
    width: 225px;
    border-radius: 27%;
    border: 10px double rgb(102, 101, 101);
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.light{
    display: inline-block;
    align-self: center;
    background-color: #4e4949;
    height: 140px;
    width: 140px;
    border-radius: 50%;
}

.rojo{
    background-color: red;
    -webkit-box-shadow: 0px 0px 109px 41px red;
    -moz-box-shadow: 0px 0px 109px 41px red;
    box-shadow: 0px 0px 109px 41px red;
}

.amarillo{
    background-color: yellow;
    -webkit-box-shadow: 0px 0px 109px 41px yellow;
    -moz-box-shadow: 0px 0px 109px 41px yellow;
    box-shadow: 0px 0px 109px 41px yellow;
}

.verde{
    background-color: green;
    -webkit-box-shadow: 0px 0px 109px 41px green;
    -moz-box-shadow: 0px 0px 109px 41px green;
    box-shadow: 0px 0px 109px 41px green;
}

.contador{
    height: 100px;
    width: 250px;
    border: 7px solid rgb(102, 101, 101);
    background-color: rgb(14, 14, 14);
    border-radius: 7px;
    color: white;
    display: flex;
    justify-content: center;
}


.timer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 65px;
    font-family: 'Poppins';
    color: rgb(102, 101, 101);
    font-weight: bold;
}